<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>

<?php if ($_product->getImage() != 'no_selection' && $_product->getImage()): ?>
<p class="product-image product-image-zoom">
    <?php
        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(600, 775).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
</p>
<?php else: ?>
<p class="product-image">
    <?php
        $_img = '<img id="image" src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(600, 775).'" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
        echo $_helper->productAttribute($_product, $_img, 'image');
    ?>
</p>
<?php endif; ?>
<?php $count = count($this->getGalleryImages()); ?>
<?php if ($count > 0): ?>
<div class="more-views">
    <ul id="more-views">
    <?php foreach ($this->getGalleryImages() as $_image): ?>
        <?php $_src = $this->helper('catalog/image')->init($_product, 'thumbnail', $_image->getFile())->resize(600, 775); ?>
        <li>
            <a href="<?php echo $_src; ?>" onclick="cmediaManager.swapImage('<?php echo $_src; ?>', false);return false;" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>"><img src="<?php echo $_src; ?>" alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>" /></a>
        </li>
    <?php endforeach; ?>
    </ul>
    <?php if ($count > 4) : ?>
        <a href="#" id="bxcarousel-prev" class="bxcarousel-prev vertical"></a>
        <a href="#" id="bxcarousel-next" class="bxcarousel-next vertical"></a>
        <script type="text/javascript">
        jQuery(function ($) {
            $('#more-views').bxSlider({
                mode: 'vertical',
                minSlides: 4,
                maxSlides: 4,
                slideMargin: 15,
                prevSelector: $('#bxcarousel-prev'),
                prevText: '<span class="fa fa-angle-up"></span>',
                nextSelector: $('#bxcarousel-next'),
                nextText: '<span class="fa fa-angle-down"></span>',
                pager: false
            });
        });
        </script>
    <?php endif; ?>
</div>
<?php endif; ?>

<script type="text/javascript">
jQuery(function ($) {
    cmediaManager.zoomElement = $('#image');
    cmediaManager.cboxElement = $('.product-image-colorbox');
    cmediaManager.initCBox();
});
</script>
