<?php
/**
 * 
 * Fengo Magento Theme
 * 
 */
?>
<?php
$theme = Mage::helper('fengo');
$gmap_enable = $theme->getSetting('contactus/gmap_enable');
if ($gmap_enable) :
    $gmap_address = urlencode($theme->getSetting('contactus/gmap_address'));
    $gmap_marker = $theme->getGmapMarker();
    $gmap_url = "http://maps.googleapis.com/maps/api/geocode/json?address=$gmap_address&sensor=false";
    
    $ch = curl_init();
        
    curl_setopt($ch, CURLOPT_HEADER, 0);
    curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
    curl_setopt($ch, CURLOPT_URL, $gmap_url);
    curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
    
    $raw = curl_exec($ch);
    $gmap_data = json_decode($raw);
    if ($gmap_data->results) :
        $lat = $gmap_data->results[0]->geometry->location->lat;
        $lng = $gmap_data->results[0]->geometry->location->lng;
?>
    <style>
        .gm-style img { max-width:none; }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
    //<![CDATA[
    var store = new google.maps.LatLng(<?php echo $lat ?>, <?php echo $lng ?>);
    var marker;
    var map;

    function initialize() {
        var mapOptions = {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            center: store,
            panControl: false,
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            overviewMapControl: false
        };

        map = new google.maps.Map(document.getElementById('contacts-gmap'), mapOptions);

        marker = new google.maps.Marker({
            map: map,
            draggable: false,
            animation: google.maps.Animation.DROP,
            position: store,
            icon: '<?php echo $gmap_marker ?>'
        });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    google.maps.event.addDomListener(window, 'resize', initialize);
    //]]>
    </script>
<?php endif;
endif; ?>

<?php if ($gmap_enable) : ?>
<div class="grid-full no-gutter">
    <div id="contacts-gmap">
    </div>
</div>
<?php endif; ?>