<?php if (Mage::getStoreConfigFlag(Chestnut_Blog_Helper_Config::XML_COMMENTS_COUNT) && ($comments = $this->getComments())): ?>
<?php $store = Mage::app()->getStore()->getId(); ?>
<?php $commentDateFormat = $this->helper('blog')->getConfig(Chestnut_Blog_Helper_Config::XML_COMMENT_DATEFORMAT, $store); ?>
<?php $commentCount = $comments->count(); ?>
<div class="block block-blog-comments">
    <div class="block-title">
        <strong><span><?php echo Mage::helper('blog')->__('Comments'); ?></span></strong>
    </div>
    <div class="block-content clearfix">
        <div class="itemslider-wrapper comments-slider-wrapper">
	        <div id="comments-slider" class="comments-slider">
	        <?php $i=0; foreach ($comments as $comment): ?>
		        <?php if ($i++%2 == 0) : ?>
		        <div class="column-item clearfix">
		        <?php endif; ?>
		            <div class="item clearfix">
						<?php if ($avatarEnabled = $this->helper('chestnut_avatar')->enabledAvatar()): ?>
		            	<?php
		                    $email = $comment->getEmail();
		                    $customer = Mage::getSingleton('customer/customer')->setWebsiteId(Mage::app()->getWebsite()->getId())->loadByEmail($email);
		                ?>
		                <?php if ($customer->getAvatarSrc() != "" && $customer->getAvatarValid()==1): ?>
		                    <?php $avatar = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."chestnut/avatar".$customer->getAvatarSrc(); ?>
		                <?php else:?>
		                    <?php $avatar = $this->getSkinUrl("images/chestnut/avatar/avatar.png"); ?>
		                <?php endif;?>
		                <div class="user-avatar"><img src="<?php echo $avatar; ?>" alt="<?php echo $customer->getName();?>" /></div>
		                <?php endif;?>
		                <div class="comment-detail clearfix <?php if ($avatarEnabled): ?>avatar<?php endif;?>">
		                    <div class="comment-summary"><?php echo $comment->getSummary(); ?></div>
		                    <div class="comment-content"><?php echo nl2br(substr($comment->getComment(), 0, 150)); ?></div>
		                    <div class="comment-user"><?php echo $comment->getUser(); ?>,</div> 
		                    <div class="comment-dates"><?php echo date($commentDateFormat, strtotime($comment->getCreatedTime())); ?></div>
		                </div>
		            </div>
		        <?php if ($i%2==0 || $i==$commentCount): ?>
		        </div>
		        <?php endif; ?>
	        <?php endforeach; ?>
	        </div>
	    </div>
	    <script type="text/javascript">
	    //<![CDATA[
	        jQuery(function($) {
	            var owlComments = $('#comments-slider');
	            owlComments.owlCarousel({
	                lazyLoad: true,
	                responsive: true,
	                singleItem: true,
	                responsiveRefreshRate: 50,
	                autoPlay: true,
	                stopOnHover: true,
	                rewindNav: true,
	                rewindSpeed: 600,
	                pagination: false,
	                navigation: true,
	                navigationText: ["<span class='fa fa-angle-left'></span>", "<span class='fa fa-angle-right'></span>"]
	            });
	        });
	    //]]>
	    </script>
    </div>    
</div>
<?php endif; ?>