<?php
    $mainPost = $this->getPost();
    $related = explode(',', trim($mainPost->getRelated()));
?>
<?php if (count($related) >= 1) : ?>
<div class="relatedSection">
    <div class="section-title">
        <h2><?php echo $this->__('You May Also Like'); ?></h2>
    </div>
    <div id="related-blog-slider" class="top-right-nav">
    <?php foreach ($related as $postId): ?>
        <?php $post = Mage::getModel('blog/post')->load((int) $postId); ?>
        <div class="item">
            <?php if($post_image = $post->getImage()): ?>
            <div class="post-image">
                <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$post_image; ?>" alt=""/>
            </div>
            <?php endif; ?>
            <div class="post-title">
                <h2><a href="<?php echo $this->getBlogUrl($post->getIdentifier()); ?>" ><?php echo $post->getTitle(); ?></a></h2>
            </div>
        </div>
    <?php endforeach; ?>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
    jQuery(function($) {
        var owlRelatedBlog = $('#related-blog-slider');
        owlRelatedBlog.owlCarousel({
            lazyLoad: true,
            responsive: true,
            itemsCustom: [[0, 1], [320, 1], [480, 1], [751, 3], [960, 3], [1263, 3]],
            autoPlay: true,
            stopOnHover: true,
            rewindNav: true,
            rewindSpeed: 600,
            pagination: false,
            navigation: true
        });
    });
//]]>
</script>
<?php endif; ?>