<?php
/**
 * 
 * Fengo Magento Theme
 * 
 */
?>
<?php if(count($this->getGroups())>1): ?>
<div class="store-switcher">
    <div class="select-box">
        <select id="select-store" title="<?php echo $this->__('Select Store') ?>" onchange="location.href=this.value">
        <?php foreach ($this->getGroups() as $_group): ?>
            <?php $_selected = ($_group->getId()==$this->getCurrentGroupId()) ? ' selected="selected"' : '' ?>
            <option value="<?php echo $_group->getHomeUrl() ?>"<?php echo $_selected ?>><?php echo $this->escapeHtml($_group->getName()) ?></option>
        <?php endforeach; ?>
        </select>
        <div class="selected-value"></div>
    </div>
</div>
<?php endif; ?>
