<ol class="clearfix">
<?php foreach ($this->getItems() as $_item): ?>
    <li class="grid12-6 no-gutter">
    	<a href="#" id="<?php echo $this->getRequestVar() . '-' . $_item->getValueString() ?>" class="chestnut_layerednav_attribute <?php echo ($this->isSelected($_item)) ? 'chestnut_layerednav_attribute_selected' : ''; ?>"><?php echo $_item->getLabel(); ?>
			<?php if($_item->getCount() && $this->shouldDisplayProductCount()) echo '(' . $_item->getCount() . ')'; ?>
    	</a>
    </li>
<?php endforeach; ?>
</ol>