<?php
/**
 * 
 * Fengo Magento Theme
 * 
 */
?>

<?php
    $catalogSearchHelper =  $this->helper('catalogsearch');
?>
<form id="search_mini_form_new" action="<?php echo $catalogSearchHelper->getResultUrl() ?>" method="get">
    <div class="form-search-new clearfix">
        <input id="search_new" type="text" name="<?php echo $catalogSearchHelper->getQueryParamName() ?>" value="<?php echo $catalogSearchHelper->getEscapedQueryText() ?>" class="input-text" maxlength="<?php echo $catalogSearchHelper->getMaxQueryLength();?>" />
        <button type="submit" title="<?php echo $this->__('Search') ?>" class="button hover-effect-button"><i class="fa fa-search"></i></button>
        <div id="search_autocomplete_new" class="search-autocomplete"></div>
        <script type="text/javascript">
        //<![CDATA[
            var searchForm = new Varien.searchForm('search_mini_form_new', 'search_new', '<?php echo $this->__('Find it here...') ?>');
            searchForm.initAutocomplete('<?php echo $catalogSearchHelper->getSuggestUrl() ?>', 'search_autocomplete_new');

            jQuery('.form-search-new').hover(function() {
                var $this = jQuery(this);
                $this.find('#search_new').show();
                $this.find('#search_new').animate({width: '280px', paddingLeft: '10px', paddingRight: '10px'}, "slow");
            }, function() {
                var $this = jQuery(this);
                $this.find('#search_new').animate({width: 0, paddingLeft: 0, paddingRight: 0}, "slow", function() {
                    $this.find('#search_new').hide();
                });
            });
        //]]>
        </script>
    </div>
</form>
