<?php
/**
 * 
 * Fengo Magento Theme
 * 
 */
?>
<?php $_product = $this->getProduct(); ?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_productName = urlencode(trim($_helper->productAttribute($_product, $_product->getName(), 'name')))?>
<?php $_productImageUrl = urlencode(trim($this->helper('catalog/image')->init($_product, 'image')))?>
<?php $_productUrl = urlencode(trim($_product->getProductUrl()))?>
<ul class="share-links">
    <li>
        <?php $_u = "&amp;u=" . $_productUrl . "&amp;t=" . $_productName; ?>
        <a href="<?php echo 'http://www.facebook.com/sharer/sharer.php?' . $_u; ?>" target="_blank" title="<?php echo $this->__('Share on Facebook') ?>" class="link-facebook">
            <?php echo $this->__('Share Facebook') ?>
        </a>
    </li>
    <li>
        <a href="<?php echo 'http://twitter.com/home?status=' . $_productName . '+' . $_productUrl; ?>" target="_blank" title="<?php echo $this->__('Share on Twitter') ?>" class="link-twitter"><?php echo $this->__('Share on Twitter') ?></a>
    </li>
    <?php if ($this->canEmailToFriend()): ?>
        <li><a href="<?php echo $this->helper('catalog/product')->getEmailToFriendUrl($_product) ?>" class="link-email-friend" title="<?php echo $this->__('Email to a Friend') ?>"><?php echo $this->__('Email to a Friend') ?></a></li>
    <?php endif; ?>
    <li>
        <?php $_u = "&amp;url=" . $_productUrl . "&amp;title=" . $_productName . "&amp;summary=" . urlencode(trim($_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description'))) . "&amp;source=" . $_productImageUrl; ?>
        <a href="<?php echo 'https://www.linkedin.com/shareArticle?mini=true' . $_u; ?>" target="_blank" title="<?php echo $this->__('Share on LinkedIn') ?>" class="link-linkedin"><?php echo $this->__('Share on LinkedIn') ?></a>
    </li>
    <li>
        <a href="<?php echo 'https://plus.google.com/share?url=' .  $_productUrl; ?>" target="_blank" title="<?php echo $this->__('Share on Google Plus') ?>" class="link-google-plus"><?php echo $this->__('Share on Google Plus') ?></a>
    </li>
</ul>

