<?php
/**
 * 
 * Fengo Magento Theme
 * 
 */
?>

<?php 
    $theme = $this->helper('fengo'); 
    $store = Mage::app()->getStore()->getStoreId();
?>

<div class="footer-container type1">
    
    <div class="footer-main-container section-container">
        <div class="footer-main footer container grid-container">
            <?php echo $theme->getFooterBlock('block_footer_main'); ?>
        </div>
    </div>
    
    <div class="footer-bottom-container section-container">
        <div class="footer-blocks footer container grid-container">
            <?php if (!$theme->getSetting('footer/newsletter', $store)) : ?>
                <div class="newsletter grid12-6 grid-full-below-768"><?php echo $this->getChildHtml('newsletter'); ?></div>
            <?php endif; ?>
            <?php if (!$theme->getSetting('footer/store_switcher', $store)) : ?>
                <div class="store_switcher grid12-6 grid-full-below-768"><?php echo $this->getChildHtml('store_switcher'); ?></div>
            <?php endif; ?>
            <?php if (!$theme->getSetting('footer/footer_links', $store)) : ?>
                <div class="footer_links grid-full"><?php echo $this->getChildHtml('footer_links'); ?></div>
            <?php endif; ?>
        </div>
        <div class="footer-bottom footer container grid-container">
            <div class="grid12-6 grid-full-below-768">                
                <div class="grid-container">
                    <?php if ($tmpBlock = $this->getChildHtml('block_footer_bottom_left')): ?>
                        <div class="item item-left"><?php echo $tmpBlock; ?></div>
                    <?php endif; ?>
                </div>
                <div class="grid-container">
                    <p class="footer-copyright"><?php echo $this->getCopyright(); ?></p>
                </div>
            </div>

            <div class="grid12-6 grid-full-below-768">   
                <?php if ($tmpBlock = $this->getChildHtml('block_footer_bottom_right')): ?>
                    <div class="item item-right"><?php echo $tmpBlock; ?></div>
                <?php endif; ?>   
            </div>
        </div>
    </div>
    
    <a href="#top" id="scroll-to-top"><span class="fa fa-angle-up"></span></a>

</div>