<?php
/**
 * 
 * Fengo Magento Theme Header
 * 
 */
?>
<?php 
    $theme = $this->helper('fengo'); 
    $store = Mage::app()->getStore()->getStoreId();
?>

<div class="header-container type4 clearfix">

    <div class="header-top-container">
        <div class="header-top header container">
            <div class="header-top-left">
                <div class="top-links">
                    <?php if ($theme->getSetting('header/top_links', $store)) { echo $this->getChildHtml('topLinks'); } ?>
                </div>
                <p class="welcome-msg"><?php echo $this->getChildHtml('welcome'); ?> <?php echo $this->getAdditionalHtml(); ?></p>
            </div>
            
            <div class="header-top-right">
                <?php echo $this->getChildHtml('currency'); ?>
                <?php echo $this->getChildHtml('store_language'); ?>
                <?php echo $this->getChildHtml('cart_mini'); ?>
            </div>
            
            <?php echo $this->getChildHtml('topContainer'); ?>
        </div>

        <div class="header-top-bottom header container">
            <div class="search-wrapper"><?php echo $this->getChildHtml('topSearch'); ?></div>
        </div>
    </div>
    
    <div class="header-main-container">
        <div class="header-main header container">
            <div class="header-main-left">
                <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
            </div>
            
            <div class="header-main-right">
                <div class="nav-container">
                    <div class="nav clearer">
                        <?php echo $this->getChildHtml('topMenu') ?>
                    </div>
                    <span class="header-opener"></span>
                </div>
            </div>
        </div>
    </div>    

</div>

<script type="text/javascript">
//<![CDATA[
    var headerType = 4;
//]]>
</script>
