<?php
/**
 * 
 * Fengo Magento Theme
 * 
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $theme = $this->helper('fengo'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product-essential">
    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <?php echo $this->getBlockHtml('formkey') ?>
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>

        <div class="product-img-box">
            <?php echo $this->getChildHtml('media') ?>
        </div>

        <div class="product-shop grid-full-below-768">
            <div class="product-name">
                <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            </div>

            <div class="price-rating clearfix">
                <?php echo $this->getPriceHtml($_product) ?>
                <?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
            </div>
            <?php echo $this->getChildHtml('alert_urls') ?>
            <?php echo $this->getChildHtml('product_type_data') ?>
            <?php echo $this->getTierPriceHtml() ?>
            <?php echo $this->getChildHtml('extrahint') ?>
            <?php if ($_product->getTypeId() == 'bundle') : ?>
                <div class="bundle-price clearfix">
                    <h2><?php echo $this->__('Final Price'); ?></h2>
                    <?php echo $this->getChildHtml('bundle_prices'); ?>
                </div>
            <?php endif;?>

            <?php if (!$this->hasOptions()):?>
                <div class="add-to-box">
                    <?php if($_product->isSaleable()): ?>
                        <?php echo $this->getChildHtml('addtocart') ?>
                        <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php echo $this->getChildHtml('addto') ?>
                </div>
                <?php echo $this->getChildHtml('extra_buttons') ?>
            <?php elseif (!$_product->isSaleable()): ?>
                <div class="add-to-box">
                    <?php echo $this->getChildHtml('addto') ?>
                </div>
            <?php endif; ?>

            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
            <?php endif;?>

            <?php echo $this->getChildHtml('other');?>

            <?php if ($_product->isSaleable() && $this->hasOptions()):?>
                <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
            <?php endif;?>

            <div class="c-share">
                <h2><?php echo $this->__('Share'); ?></h2>
                <?php echo $this->getChildHtml('c_share'); ?>
            </div>
        </div>

        <div class="clearer"></div>
    </form>
    <script type="text/javascript">
    //<![CDATA[
        var productAddToCartForm = new VarienForm('product_addtocart_form');
        productAddToCartForm.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;

                if (url) {
                   form.action = url;
                }
                var e = null;
                try {
                    this.form.submit();
                } catch (e) {
                }
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }

                if (button && button != 'undefined') {
                    button.disabled = true;
                }
            }
        }.bind(productAddToCartForm);

        productAddToCartForm.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                // Remove custom datetime validators
                for (var methodName in Validation.methods) {
                    if (methodName.match(/^validate-datetime-.*/i)) {
                        delete Validation.methods[methodName];
                    }
                }

                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm);
    //]]>
    </script>
    </div>

    <div class="product-collateral">
        <?php if ($detailedInfoGroup = $this->getChildGroup('detailed_info', 'getChildHtml')):?>
            <?php 
                $_tabs = '<div class="nav-tabs-container grid-full-below-768"><ul id="tabs" class="nav nav-tabs grid-full-below-768" data-tabs="tabs">';
                $_panes = '<div id="tab-content" class="tab-content grid-full-below-768">';
                $_isFirst = true;
            ?>
            <?php foreach ($detailedInfoGroup as $alias => $html):?>
                <?php
                    if ($html) {
                        $_first = ($_isFirst) ? ' active' : '';
                        $_tabs .= '<li class="' . $_first . '"><a href="#' . $alias . '" data-toggle="tab">' . $this->escapeHtml($this->getChildData($alias, 'title')) . '</a></li>';

                        $_panes .= '<div class="tab-pane panel panel-default' . $_first . '" id="' . $alias . '">';
                        $_panes .= '<div class="panel panel-heading"><a href="#' . $alias . '-accordion" data-parent="#tab-content" data-toggle="collapse" class="collapsed">' . $this->escapeHtml($this->getChildData($alias, 'title')) . '</a></div>';

                        $_panes .= '<div id="' . $alias . '-accordion" class="panel-collapse collapse">';
                        $_panes .= '<div class="panel-body clearfix">' . $html . '</div>';
                        $_panes .= '</div>';
                        $_panes .= '</div>';
                        $_isFirst = false;
                    }
                ?>
            <?php endforeach;?>
            <?php 
                $_tabs .= '</ul></div>';
                $_panes .= '</div>';
            ?>
        <?php endif; ?>

        <?php if ($_panes != ''): ?>
            <div class="tabbable tabs-left clearfix">
                <?php echo $_tabs . $_panes; ?>
            </div>
        <?php endif; ?>

        <?php echo $this->getChildHtml('product_related'); ?>
        <?php echo $this->getChildHtml('upsell_products') ?>
        <?php echo $this->getChildHtml('product_additional_data') ?>
        <?php /*echo $this->getChildHtml('product_info_tabs');*/ ?>
    </div>
</div>
