<?php
/**
 * 
 * Fengo Magento Theme
 * 
 */
?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->getLang() ?>" lang="<?php echo $this->getLang() ?>">
<head>
<?php echo $this->getChildHtml('head') ?>
</head>
<?php $bodyClasses = $this->getBodyClass() .' '. $this->helper('fengo')->getThemeBodyClasses(); ?>
<body class="<?php echo $bodyClasses; ?>">
<?php echo $this->getChildHtml('after_body_start') ?>
<?php
    if ($this->helper('fengo')->getSetting('general/loading_show_home')) {
        if (Mage::getBlockSingleton('page/html_header')->getIsHomePage()) {
            echo $this->helper('fengo')->getLoadingMask();
        }
    } else {
        echo $this->helper('fengo')->getLoadingMask();
    }
?>
<div id="root-wrapper">
    <div class="wrapper">
        <?php echo $this->getChildHtml('global_notices') ?>
        <div class="page">
            <?php echo $this->getChildHtml('header') ?>
            <div class="main-container col2-right-layout">
                <div class="main-before-top-container"><?php echo $this->getChildHtml('main_before_top') ?></div>
                <div class="main container">
                    <?php echo $this->getChildHtml('breadcrumbs') ?>
                    <div class="preface"><?php echo $this->getChildHtml('preface') ?></div>
                    <div class="col-main">
                        <div class="clearfix"></div>
                        <?php echo $this->getChildHtml('global_messages') ?>
                        <?php echo $this->getChildHtml('content') ?>
                    </div>
                    <div class="col-right sidebar"><?php echo $this->getChildHtml('right') ?></div>
                    <div class="postscript"><?php echo $this->getChildHtml('postscript') ?></div>
                </div>
            </div>
            <?php echo $this->getChildHtml('footer') ?>
            <?php echo $this->getChildHtml('global_cookie_notice') ?>
            <?php echo $this->getChildHtml('before_body_end') ?>
        </div>
    </div>
</div>
<?php echo $this->getAbsoluteFooter() ?>
</body>
</html>
