<?php
/**
 * 
 * Fengo Magento Theme
 * 
 */
?>
<?php 
    $_helper = $this->helper('catalog/output');
    $theme = $this->helper('fengo');
?>
<?php if(count($this->getItemCollection()->getItems())): ?>
    <ul class="products-list" id="products-list">
    <?php foreach ($this->getItemCollection()->getItems() as $_product): ?>
        <li class="item">
            <?php // Product Image ?>
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image'); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                <div class="product-labels">
                    <?php if (!$_product->isSaleable() && $theme->getSetting('category_view/out_of_stock')): ?>
                        <p class="out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <?php 
                        $date = date("Y-m-d 00:00:00");
                        $newtodate = $_product['news_to_date'];
                        $newfromdate = $_product['news_from_date'];
                    ?>
                    <?php if (isset($newfromdate) and isset($newtodate) and $date >= $newfromdate and $date <= $newtodate and $theme->getSetting('category_view/new')):?>
                        <p class="new-product"><span><?php echo $this->__('New') ?></span></p>
                    <?php endif; ?>
                    <?php
                        $regularPrice = round($_product->getPrice());
                        $discountedPrice = round($_product->getFinalPrice());
                        if (($regularPrice != $discountedPrice) && $theme->getSetting('category_view/discount')) :
                    ?>
                        <p class="discount-code"><span><?php echo round(100*$discountedPrice/$regularPrice - 100).'%' ?></span></p>
                    <?php endif; ?>
                </div>
            </a>
            <?php // Product description ?>
            <div class="product-item clearfix">
                <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h2>
                <div class="price-rating">
                <?php echo $this->getPriceHtml($_product, true) ?>
                <?php if($_product->getRatingSummary()): ?>
                    <div class="hide-below-960">
                        <?php echo $this->getReviewsSummaryHtml($_product, 'default') ?>
                    </div>
                    <div class="show-below-960">
                        <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                    </div>
                <?php endif; ?>
                </div>
                <div class="desc std">
                    <?php echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped ?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                </div>
                <?php if($_product->isSaleable()): ?>
                    <?php if ( !($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped()) ) : ?>
                        <p class="availability add-to-cart"><button type="button" title="<?php echo $this->__('Add to Bag') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>','<?php echo $_product->getId()?>')"><span><span><?php echo $this->__('Add to Bag') ?></span></span></button></p>
                    <?php else: ?>
                        <p class="availability add-to-cart"><button type="button" title="<?php echo $this->__('Add to Bag') ?>" class="button btn-cart" onclick="showOptions('<?php echo $_product->getId()?>')"><span><span><?php echo $this->__('Add to Bag') ?></span></span></button></p>
                        <a href='<?php echo $this->getUrl('ajaxcart/index/options',array('product_id'=>$_product->getId()));?>' class='fancybox' id='fancybox<?php echo $_product->getId()?>' style='display:none'></a>
                    <?php endif;  ?>
                <?php else: ?>
                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif; ?>
                <ul class="add-to-links">
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                        <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('+ Add to Wishlist') ?></a></li>
                    <?php endif; ?>
                    <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
                        <li><a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('+ Add to Compare') ?></a></li>
                    <?php endif; ?>
                </ul>
            </div>
        </li>
    <?php endforeach; ?>
    </ul>
<?php endif ?>
