<?php if ($this->isEnabledFB()) : ?>
<?php 
    $pageUrl = $this->getFBPageUrl();
?>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="cms-block facebook-like clearfix">
    <h6 class="cms-block-title">
        <?php if ($block_name = $this->getBlockName()) : ?>
        <?php echo $block_name; ?>
        <?php else : ?>
        <?php echo $this->__('Facebook'); ?>
        <?php endif; ?>        
    </h6>
    <div class="cms-block-content">
        <div class="fb-page" data-href="<?php echo $pageUrl;?>" data-small-header="<?php echo $this->getSmallHeader();?>" data-adapt-container-width="true" data-hide-cover="<?php echo $this->getHideCover();?>" data-show-facepile="<?php echo $this->getShowFacepile();?>" data-show-posts="<?php echo $this->getShowPosts();?>">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="<?php echo $pageUrl;?>">
                    <a href="<?php echo $pageUrl;?>">Facebook</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>