<?php    
    $_productCollection=$this->getProductCollectionCustom();
    $collectionSize = $_productCollection->count();
    $_productType = $this->_type;
?>
<?php if ($collectionSize > 0): ?>
<?php
    $blockName = $this->getBlockName();
    $blockName = ($blockName) ? $blockName : $this->helper('chestnut_products')->__("Bestsellers");    
?>
<div class="cms-block bestsellers-slider">
    <h6 class="cms-block-title"><?php echo $blockName; ?></h6>
    <div class="itemslider-wrapper bestsellers-slider-wrapper clearfix">
        <div id="bestsellers-slider">
        <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php $_product->setOrigTypeId($_product->getTypeId());?>
        <?php $_product->setDecimals(2);?>
        <?php $_product->setTypeId($_productType);?>
        <?php if ($i++%3 == 0) : ?>
        <div class="column-item clearfix">
        <?php endif; ?>
            <div class="item clearfix">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image grid12-4 no-left-gutter">
                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(100, 130); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </a>
                <div class="grid12-8 no-right-gutter">
                    <h2 class="product-name grid-full">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName() ?></a>
                    </h2>
                    <?php echo $this->getPriceHtml($_product, true) ?>
                </div>
            </div>
        <?php if ($i%3==0 || $i==$collectionSize): ?>
        </div>
        <?php endif; ?>
        <?php endforeach; ?>
        </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        jQuery(function($) {
            var owlBestsellers = $('#bestsellers-slider');
            owlBestsellers.owlCarousel({
                lazyLoad: true,
                responsive: true,
                singleItem: true,
                responsiveRefreshRate: 50,
                autoPlay: false,
                stopOnHover: true,
                rewindNav: true,
                rewindSpeed: 600,
                pagination: false,
                navigation: true,
                navigationText: ["<span class='fa fa-angle-left'></span>", "<span class='fa fa-angle-right'></span>"]
            });
        });
    //]]>
    </script>
</div>
<?php endif; ?>
