<?php    
    $_productCollection=$this->getProductCollectionCustom();
    $enabled = $this->getConfig('most_viewed/enable_slider');
    $collectionSize = $_productCollection->count();
?>
<?php if ($enabled && $_productCollection): ?>
<?php
    $blockName = $this->getBlockName();
    $blockName = ($blockName) ? $blockName : $this->helper('chestnut_products')->__("Most Favorite");    
?>
<div class="cms-block favorite-slider">
    <h6 class="cms-block-title"><?php echo $blockName; ?></h6>
    <div class="itemslider-wrapper favorite-slider-wrapper">
        <div id="favorite-slider-new" class="favorite-slider">
        <?php $i=0; foreach ($_productCollection as $_product): ?>
        <?php if ($i++%3 == 0) : ?>
        <div class="column-item clearfix">
        <?php endif; ?>
            <div class="item clearfix">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image grid12-3 no-left-gutter">
                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(128, 166); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" style="width:100%" />
                </a>
                <div class="grid12-9 no-right-gutter">
                    <h2 class="product-name grid-full">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo strtoupper($_product->getName()) ?></a>
                    </h2>
                    <?php echo $this->getPriceHtml($_product, true) ?>
                </div>
            </div>
        <?php if ($i%3==0 || $i==$collectionSize): ?>
        </div>
        <?php endif; ?>
        <?php endforeach; ?>
        </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        jQuery(function($) {
            var owlFavorite = $('#favorite-slider-new');
            owlFavorite.owlCarousel({
                lazyLoad: true,
                responsive: true,
                singleItem: true,
                responsiveRefreshRate: 50,
                autoPlay: true,
                stopOnHover: true,
                rewindNav: true,
                rewindSpeed: 600,
                pagination: false,
                navigation: true,
                navigationText: ["<span class='fa fa-angle-left'></span>", "<span class='fa fa-angle-right'></span>"]
            });
        });
    //]]>
    </script>
</div>
<?php endif; ?>
