<?php    
    $_productCollection=$this->getProductCollectionCustom();
    $enabled = $this->getConfig('most_viewed/enable_slider');
    $_productType = $this->_type;
?>
<?php if ($enabled && $_productCollection): ?>
<?php
    $blockName = $this->getBlockName();
    $blockName = ($blockName) ? $blockName : $this->helper('chestnut_products')->__("Most Favorite");
?>
<div class="cms-block favorite-slider">
    <div class="favorite-slider-container">
        <h6 class="cms-block-title"><?php echo $blockName; ?></h6>
        <div class="itemslider-wrapper favorite-slider-wrapper">
            <div id="favorite-slider" class="favorite-slider">
            <?php foreach ($_productCollection as $_product): ?>
                <?php $_product->setOrigTypeId($_product->getTypeId());?>
                <?php $_product->setTypeId($_productType);?>
                <div class="item clearfix">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(150, 196); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" style="width:100%" />
                    </a>
                    <h2 class="product-name">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName() ?></a>
                    </h2>
                    <?php echo $this->getPriceHtml($_product, true) ?>
                </div>
            <?php endforeach; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        jQuery(function($) {
            var owlFavorite = $('#favorite-slider');
            owlFavorite.owlCarousel({
                lazyLoad: true,
                responsive: true,
                items: 2,
                itemsCustom: [[0, 2], [320, 2], [480, 2], [768, 1], [960, 2], [1280, 2]],
                responsiveRefreshRate: 50,
                autoPlay: true,
                stopOnHover: true,
                rewindNav: true,
                rewindSpeed: 600,
                pagination: false,
                navigation: true,
                navigationText: ["<span class='fa fa-angle-left'></span>", "<span class='fa fa-angle-right'></span>"]
            });
        });
    //]]>
    </script>
</div>
<?php endif; ?>
