/* ColorBox Core Style
-------------------------------------------------------------- */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; }
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

#cboxOverlay{background:url(../../../images/chestnut/fengo/colorbox/overlay.png) repeat 0 0;}
#colorbox{}
#cboxContent{background:#fff; overflow:hidden; border:none;/*10px solid #333*/ padding:10px; }
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{margin-bottom:40px; /*10px above buttons*/ }
#cboxTitle{position:absolute; bottom:13px; left:0; text-align:center; width:100%; color:#999999;}
#cboxCurrent{position:absolute; bottom:13px; left:80px; color:#999999;}
#cboxSlideshow{position:absolute; bottom:11px; right:50px; color:#999999;}

#cboxPrevious,
#cboxNext { position:absolute; background:url(../../../images/chestnut/fengo/colorbox/controls.png) no-repeat #ddd; width:25px; height:25px; text-indent:-9999px; border:none; }
#cboxPrevious:hover,
#cboxNext:hover { background-color:#333; }
#cboxPrevious{bottom:10px; left:10px; background-position:-75px 0px;}
#cboxPrevious:hover{background-position:-75px -25px;}
#cboxNext{bottom:10px; left:40px; background-position:-50px 0px;}
#cboxNext:hover{background-position:-50px -25px;}

#cboxLoadingOverlay{background:url(../../../images/chestnut/fengo/colorbox/loading_background.png) no-repeat center center;}
#cboxLoadingGraphic{background:url(../../../images/chestnut/fengo/colorbox/loading.gif) no-repeat center center;}

#cboxClose{position:absolute; bottom:10px; right:10px; background:url(../../../images/chestnut/fengo/colorbox/controls.png) -25px 0px no-repeat #ddd; width:25px; height:25px; text-indent:-9999px; border:none;}
#cboxClose:hover{background-position:-25px -25px; background-color:#333;}
