/*
 * 12-column grid system
 */
.container {
	margin-left:auto;
	margin-right:auto;
}

.clearfix:before, .clearfix:after { display:table; line-height: 0; content: ""; }
.clearfix:after { clear:both; }

.no-left-gutter { margin-left: 0; }
.no-right-gutter { margin-right: 0; }
.no-gutter { margin-left: 0; margin-right: 0; }

/* Grid container */
.grid-container { *zoom: 1; clear: both; }
.grid-container:before,
.grid-container:after { display: table; line-height: 0; content: ""; }
.grid-container:after { clear: both; }

/* Grid units */
.grid12-1,
.grid12-2,
.grid12-3,
.grid12-4,
.grid12-5,
.grid12-6,
.grid12-7,
.grid12-8,
.grid12-9,
.grid12-10,
.grid12-11,
.grid12-12,
.grid-full
{ 
	position:relative;
	display:inline;
	float:left;
	margin-left:1%;
	margin-right:1%;
}

/* Basic grid units width */
.grid12-1	{ width:6.33%; }
.grid12-2	{ width:14.66%; }
.grid12-3	{ width:23%; }
.grid12-4	{ width:31.33%; }
.grid12-5	{ width:39.67%; }
.grid12-6	{ width:48%; }
.grid12-7	{ width:56.33%; }
.grid12-8	{ width:64.67%; }
.grid12-9	{ width:73%; }
.grid12-10	{ width:81.33%; }
.grid12-11	{ width:89.67%; }
.grid12-12,
.grid-full	{ width:98%; }

/* Grid units without left gutter (margin) */
.no-left-gutter.grid12-1	{ margin-left:0; width:7.33%; }
.no-left-gutter.grid12-2	{ margin-left:0; width:15.66%; }
.no-left-gutter.grid12-3	{ margin-left:0; width:24%; }
.no-left-gutter.grid12-4	{ margin-left:0; width:32.33%; }
.no-left-gutter.grid12-5	{ margin-left:0; width:40.67%; }
.no-left-gutter.grid12-6	{ margin-left:0; width:49%; }
.no-left-gutter.grid12-7	{ margin-left:0; width:57.33%; }
.no-left-gutter.grid12-8	{ margin-left:0; width:65.67%; }
.no-left-gutter.grid12-9	{ margin-left:0; width:74%; }
.no-left-gutter.grid12-10	{ margin-left:0; width:82.33%; }
.no-left-gutter.grid12-11	{ margin-left:0; width:90.67%; }
.no-left-gutter.grid12-12,
.no-left-gutter.grid-full	{ margin-left:0; width:99%; }

/* Grid units without right gutter (margin) */
.no-right-gutter.grid12-1	{ margin-right:0; width:7.33%; }
.no-right-gutter.grid12-2	{ margin-right:0; width:15.66%; }
.no-right-gutter.grid12-3	{ margin-right:0; width:24%; }
.no-right-gutter.grid12-4	{ margin-right:0; width:32.33%; }
.no-right-gutter.grid12-5	{ margin-right:0; width:40.67%; }
.no-right-gutter.grid12-6	{ margin-right:0; width:49%; }
.no-right-gutter.grid12-7	{ margin-right:0; width:57.33%; }
.no-right-gutter.grid12-8	{ margin-right:0; width:65.67%; }
.no-right-gutter.grid12-9	{ margin-right:0; width:74%; }
.no-right-gutter.grid12-10	{ margin-right:0; width:82.33%; }
.no-right-gutter.grid12-11	{ margin-right:0; width:90.67%; }
.no-right-gutter.grid12-12,
.no-right-gutter.grid-full	{ margin-right:0; width:99%; }

/* Grid units without any gutter (margin) */
.no-gutter.grid12-1		{ margin-left:0; margin-right:0; width:8.33%; }
.no-gutter.grid12-2		{ margin-left:0; margin-right:0; width:16.66%; }
.no-gutter.grid12-3		{ margin-left:0; margin-right:0; width:25%; }
.no-gutter.grid12-4		{ margin-left:0; margin-right:0; width:33.33%; }
.no-gutter.grid12-5		{ margin-left:0; margin-right:0; width:41.67%; }
.no-gutter.grid12-6		{ margin-left:0; margin-right:0; width:50%; }
.no-gutter.grid12-7		{ margin-left:0; margin-right:0; width:58.33%; }
.no-gutter.grid12-8		{ margin-left:0; margin-right:0; width:66.67%; }
.no-gutter.grid12-9		{ margin-left:0; margin-right:0; width:75%; }
.no-gutter.grid12-10	{ margin-left:0; margin-right:0; width:83.33%; }
.no-gutter.grid12-11	{ margin-left:0; margin-right:0; width:91.67%; }
.no-gutter.grid12-12,
.no-gutter.grid-full	{ margin-left:0; margin-right:0; width:100%; }

.show-below-960         { display:none; }
.show-between-960-768, 
.show-between-768-960   { display:none; }
.show-below-768         { display:none; }
.show-below-480         { display:none; }
.show-below-320         { display:none; }

@media only screen and (max-width: 1679px) {
	.hide-below-1680 { display:none !important; }
}

@media only screen and (max-width: 1439px) {
	.hide-below-1440 { display:none !important; }
}

@media only screen and (max-width: 1359px) {
	.hide-below-1360 { display:none !important; }
}

@media only screen and (max-width: 1279px) {
	.hide-below-1280 { display:none !important; }
	.grid-full-below-1280 { width:100% !important;margin:0 !important; }
}

@media only screen and (max-width: 1023px) {
	.hide-below-1024 { display:none !important; }
}

@media only screen and (min-width: 960px) and (max-width: 1279px) {
	.hide-between-960-1280, .hide-between-1280-960 { display:none !important; }
	.show-between-960-1280, .show-between-1280-960 { display:block; }
}

@media only screen and (max-width: 959px) {
	.hide-below-960      { display:none !important; }
	.show-below-960      { display:block; }
	.grid12-4-below-960  { width:31.33% !important;}
	.grid12-6-below-960  { width:47.93% !important;}
	.grid-full-below-960 { width:100% !important; margin:0 !important; }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.hide-between-960-768, .hide-between-768-960 { display:none !important; }
	.show-between-960-768, .show-between-768-960 { display:block; }
}

@media only screen and (max-width: 767px) {
	.hide-below-768 	 { display:none !important; }
	.show-below-768      { display:block; }
	.grid12-4-below-768  { width:33.33% !important; margin:0 !important;}
	.grid12-6-below-768  { width:50% !important; margin:0 !important;}
	.grid12-8-below-768  { width:66.66% !important; margin:0 !important;}
	.grid-full-below-768 { width:100% !important; margin:0 !important; }
}

@media only screen and (max-width: 479px) {
	.hide-below-480 	 { display:none !important; }
	.show-below-480      { display:block; }
	.grid-full-below-480 { width:100% !important; margin:0 !important; }
}

@media only screen and (max-width: 319px) {
	.hide-below-320  	 { display:none !important; }
	.show-below-320      { display:block; }
	.grid-full-below-320 { width:100% !important; margin:0 !important; }
}
