<?php
/**
 * 
 * Fengo Magento Theme
 * 
 */
?>
<?php
$item = $this->getItem();
$product = $item->getProduct();
?>
<a class="product-image" href="<?php echo $this->getProductUrl($item) ?>" title="<?php echo $this->escapeHtml($product->getName()) ?>">
    <img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image'); ?>" alt="<?php echo $this->escapeHtml($product->getName()) ?>" />
</a>