#chestnut_layerednav .cl_all_categories {margin:0 0 30px 0;}
#chestnut_layerednav .cl_all_categories .cl_categories_title {margin:0 0 5px;padding: 0 0 20px;font: 17px "Cousine_Bold", sans-serif;border-bottom: 1px solid #ccc;text-transform: uppercase;color: #555;}
#chestnut_layerednav .cl_all_categories li {background: #f7f7f7;border-bottom:1px solid #e9e9e9;}
#chestnut_layerednav .cl_all_categories li.level0 {}
#chestnut_layerednav .cl_all_categories li.level0.last {}
#chestnut_layerednav .cl_all_categories li.level1 {margin-left: 20px;padding-left:5px;}
#chestnut_layerednav .cl_all_categories li.level2 {margin-left: 10px;padding-left:3px;}
#chestnut_layerednav .cl_all_categories li.level3 {margin-left: 5px;padding-left:1px;}
#chestnut_layerednav .cl_all_categories a {color:#666;font-family: "Cousine", sans-serif;line-height: 42px;padding-left:10px;}
#chestnut_layerednav .cl_all_categories a:hover {color:#cf4647;}
#chestnut_layerednav .cl_all_categories li.level0 > a {font-size: 16px;text-transform: uppercase;}
#chestnut_layerednav .cl_all_categories li.level1 > a {font-size: 14px;text-transform: uppercase;}
#chestnut_layerednav .cl_all_categories li.level2 > a {font-size: 14px;}
#chestnut_layerednav .cl_all_categories li > .opener > .fa {cursor: pointer;float:right;color:#555;margin-right: 5px;line-height: 40px;display:none;}
#chestnut_layerednav .cl_all_categories li > .opener {background:url('../../../images/misc-icons.png') 3px 0px no-repeat;cursor: pointer;float:right;margin-top: 10px;height:20px;width:20px;}
#chestnut_layerednav .cl_all_categories li > .opener:hover {border:1px solid #777;}
#chestnut_layerednav .cl_all_categories li.active > .opener {background-position: -20px 0px;}
/*#chestnut_layerednav .cl_all_categories li > .opener > .fa-plus {display: inline-block;}
#chestnut_layerednav .cl_all_categories li > .opener > .fa-minus {display: none;}*/
#chestnut_layerednav .cl_all_categories li.active > .parent > li.last {border-bottom: none;}
/*#chestnut_layerednav .cl_all_categories li.active > .opener > .fa-minus {display: inline-block;}
#chestnut_layerednav .cl_all_categories li.active > .opener > .fa-plus {display:none;}*/

.chestnut_layerednav dd a {padding:0px 5px 0px 0px; display:block; float: left;}
.chestnut_layerednav span.current-category {font-weight: bold; padding-left: 5px;} 
.chestnut_layerednav a.category-level-2 {padding-left:5px}
.chestnut_layerednav a.category-level-3 {padding-left:10px}
.chestnut_layerednav a.chestnut_layerednav_attribute { padding-left:25px; background:transparent url(../../../images/chestnut/layerednav/check-mark.png) no-repeat scroll 0px 1px;font:15px/17px "Arial", sans-serif;color:#666;}
.chestnut_layerednav a.chestnut_layerednav_attribute:hover {background-position: 0px -48px;}
.chestnut_layerednav a.chestnut_layerednav_attribute_selected {padding-left:25px; background-position: 0px -99px; overflow:hidden;}
.chestnut_layerednav a.chestnut_layerednav_attribute_selected:hover {background-position: 0px -149px;}
.chestnut_layerednav a.chestnut_layerednav_disabled {color:gray; cursor:wait}
.chestnut_layerednav a.chestnut_layerednav_clear {float: right; cursor:pointer;} 
.chestnut_layerednav .price_slider { height:2px; margin:5px 0 20px 0; background:#dadada; cursor:pointer; width:100%;border:none; }
.chestnut_layerednav .price_slider > div {top:0;background: #888;height:2px;}
.chestnut_layerednav .price_slider > a { z-index:999;top: -4px;margin-left:0;width: 10px;height: 10px;border: 1px solid #666;background: #666;border-radius: 50%;-moz-border-radius:50%;-webkit-border-radius:50%;cursor: move; }
.chestnut_layerednav .price_slider > a:last-child {margin-left:-10px;}
.layerednav_loading {
    width:100%;
    height:1000%;
    background-color:#000;
    z-index:99999;
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    position:fixed;
    top:0;
    left:0;
}
.layerednav_loading img {left:50%;top:45%;display:block;position:fixed;z-index:900;margin-left:-64px;}

.chestnut_layerednav dt {cursor:pointer;}
.chestnut_layerednav dt.chestnut_layerednav_dt_selected {}
.chestnut_layerednav dd li {overflow:hidden;margin-bottom:15px;}
.chestnut_layerednav input {width:32%;padding:0 15px;height:22px;}
.col3-layout .chestnut_layerednav input {width:30%;padding-left:10px;}
.chestnut_layerednav button.button {margin-top:20px;border-color:#666;}
.chestnut_layerednav button.button span {height:26px;padding:0 8px;font:13px/28px "MerriweatherSans_Bold";color:#666;}

#chestnut_layerednav_size li a {background: none;padding:8px 0;border:1px solid #ccc;background-color: #fff;display:block;width:35px;height:35px;text-align: center;}
#chestnut_layerednav_size li a.chestnut_layerednav_attribute_selected,
#chestnut_layerednav_size li a:hover {border:2px solid #777;}
#chestnut_layerednav_size li {float:left;margin-right:10px;}