#tip {position: absolute;border: 1px solid #CCCCCC;background: #A7C2E8;padding: 4px;display: none;}
.testimonial-entry {padding: 20px;margin-bottom: 20px;}
.testimonial-entry.odd {background: #F8F8F8;border-top: 1px dashed #E0E0E0;border-bottom: 1px dashed #E0E0E0;}

.testimonial-tagline {font-family: Lucida Sans Unicode, Arial, sans-serif !important;font-weight: normal !important;font-size: 16px !important;	margin: 0 !important;}

.testimonial-content {}
.testimonial-content-avatar {float: left; margin: 4px 10px 0 0;}
.testimonial-content p {color:#808080;font-size:11px !important;line-height:18px;margin:8px 0 !important;}
.testimonial-source {}
.testimonial-author {font-family: "Cousine_Italic";font-size: 14px;color: #669999;text-align: right;display: block;}
.testimonial-www {font-style: normal;text-align: right;display: block;}
.testimonial-date {font-size: 12px;text-align: right;display: block;font-family: "Cousine";}

.customer-testimonials .page-title {margin: 0 0 10px;display: block;}
.customer-testimonials .page-title h1 { margin: 15px 0; color: #464646; float: left; font-size: 17px; font-weight: bold; text-transform: uppercase;}
.customer-testimonials .page-title button {float: right;margin:15px 0;}
.customer-testimonials .page-title button > span {padding:5px 8px;}

.customer-testimonials .pager {float:none !important;clear:both;padding:0;font-size: 14px;}
.customer-testimonials .pager .amount {font-family: "Arial", sans-serif;font-size: 14px;padding: 9px 0;float:left;}
.customer-testimonials .pager .amount strong {font-weight:normal;}
.customer-testimonials .pager .limiter label {font-weight:normal;}
.customer-testimonials .pager .limiter label:after {display: inline-block;content:":";}
.customer-testimonials .pager .limiter .per-page {display: none;}

.block-testimonial .testimonial-entry {padding: 0;}
.block-testimonial .testimonial-content { margin: 0 !important; font-style: italic; padding-bottom: 5px;}
.block-testimonial .testimonial-container {padding: 8px;}

.block-testimonial .pagination { padding: 5px 8px 10px; margin-bottom: 15px;}
.block-testimonial .pagination .btn-prev { background: url("../../images/chestnut/testimonial/navigation-left.png") no-repeat scroll left top transparent; float: left;}
.block-testimonial .pagination .btn-next { background: url("../../images/chestnut/testimonial/navigation-right.png") no-repeat scroll left top transparent;	float: right;}
.block-testimonial .pagination a { height: 0; overflow: hidden; padding-top: 18px; width: 18px; display: block;}

.testimonial-submit {float: left; width: 685px;}
.testimonial-submit .page-title h1 {color: #464646; font-weight: bold; font-size: 17px; text-transform: uppercase; }
.testimonial-submit .form-list {float: left; width: 100%;}
.testimonial-submit .form-list li {float: left; width: 255px; margin: 0 20px 7px 0;}
.testimonial-submit .form-list li label {margin-top:10px;margin-bottom: 5px;}
.testimonial-submit .form-list li .input-text {float: left; width: 255px; }
.testimonial-submit .form-list li .std-input-box { width: 535px !important;clear: both; display: block;}
.testimonial-submit .form-list li.required-std {float: left; width: 100% !important;}
.testimonial-submit .form-list li.required-std .std-input-box .required-entry {width: 530px !important;}
.testimonial-submit .form-list li.required-std {margin: 0 !important;}
.testimonial-submit .input-box-captcha {float: left; width: 100%; margin: 10px 0 0 0;}
.testimonial-submit .input-box-captcha #captcha {float: left; margin: 0 10px 0 0; }
.testimonial-submit .input-box-captcha .required-entry {float: left; height: 30px;font-size: 17px; margin: 0 7px 0 0;}
.testimonial-submit .input-box-captcha p {float: left; width: 100%; }
.testimonial-submit .input-box-captcha a.refresh-captcha {float: left;padding: 10px 0 0;}
.testimonial-submit #testimonial-form button.button > span {padding:5px 8px;}

.block-testimonial-sidebar .block-content {/*padding: 5px 9px;*/}
.block-testimonial-sidebar .block-content .testimonial-sidebar-content {padding: 0 0 25px;}
.block-testimonial-sidebar .block-content .std {width: 100%;padding:0 0 10px;}
.block-testimonial-sidebar .block-content .std a {text-transform: uppercase;}
.block-testimonial-sidebar .block-content .std .tooltip {font-size: 11px;}
.block-testimonial-sidebar .block-content .name-date-testimonial { width: 100%; text-align: right;}
.block-testimonial-sidebar .block-content .name-date-testimonial h6 {margin: 0;}
.block-testimonial-sidebar .block-content .name-date-testimonial .name {font-size: 14px;font-family: "cousine_Italic";color:#669999;}

.customer-testimonials .customer-testimonials-content {float: left; margin: 20px 0 0;padding: 10px;border: 1px solid #dfdfdf; width: 100%;}
.customer-testimonials .customer-testimonials-content.last { margin: 20px 0;}
